.wine-card {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#062f4f;
  margin-top: 100px;
  color: #ffdd77;
  text-decoration: none;
  height: auto;
  border: #ffdd77;
  border-width: 30px;
  margin-inline: 50px;
  border-radius: 5px;
  text-decoration: none;
}

.card-image {
width: 265px;
max-width: 265px;
height: 345px;
max-height: 345px;
border:  #813772;
margin: 5px;
}

.details{
  text-decoration: none;
}

@media (max-width: 768px) {
.wine-card {
  background-color: #813772;
  
}

}
@media (max-width: 380px){
  .wine-card {
  background-color: #813772;
}

.navbar {
  background: #062f4f;
}
}